In [1]:
import pandas as pd

## Задание 1

In [3]:
import pandas as pd
movies_dt = pd.read_csv('movies.csv')
ratings_dt = pd.read_csv('ratings.csv')

x = ratings_dt.merge(movies_dt, how='left')

films_rating = x.groupby('title').mean().reset_index()[['title', 'rating']]

def range_maker(row):
    if row['rating'] <= 2.0:
        return 'low'
    elif (row['rating'] > 2.0) and (row['rating'] <= 4.0):
        return 'medium'
    elif row['rating'] > 4.0:
        return 'high'
    else:
        return 'undefined'

films_rating['class'] = films_rating.apply(range_maker, axis=1)


films_rating.head(15)

                                          title    rating   class
0                                    '71 (2014)  4.000000  medium
1       'Hellboy': The Seeds of Creation (2004)  4.000000  medium
2                        'Round Midnight (1986)  3.500000  medium
3                           'Salem's Lot (2004)  5.000000    high
4                     'Til There Was You (1997)  4.000000  medium
5               'Tis the Season for Love (2015)  1.500000     low
6                            'burbs, The (1989)  3.176471  medium
7                          'night Mother (1986)  3.000000  medium
8                   (500) Days of Summer (2009)  3.666667  medium
9                *batteries not included (1987)  3.285714  medium
10                    ...All the Marbles (1981)  2.000000     low
11                ...And Justice for All (1979)  3.166667  medium
12  00 Schneider - Jagd auf Nihil Baxter (1994)  4.500000    high
13                            1-900 (06) (1994)  4.000000  medium
14                                    10 (1979)  3.375000  medium

## Задание 2

In [4]:
requests  = pd.read_csv('keywords.csv')

In [7]:
def GeoClassifier(file_csv):
    if 'москва' in file_csv['keyword'] or 'тула' in file_csv['keyword'] or 'ярославль' in file_csv['keyword']:
        return 'Центр'
    elif 'петербург' in file_csv['keyword'] or 'псков' in file_csv['keyword'] or 'псков' in file_csv['keyword']:
        return 'Северо-Запад'
    elif 'владивосток' in file_csv['keyword'] or 'сахалин' in file_csv['keyword'] or 'хабаровск' in file_csv['keyword']:
        return 'Дальний Восток'
    else:
        return 'undefined'

requests['region'] = requests.apply(GeoClassifier, axis=1)

requests['region'].value_counts()

undefined         99281
Центр               387
Северо-Запад        238
Дальний Восток       94
Name: region, dtype: int64