In [17]:
import pandas as pd

## Задание 1

In [50]:
movies_dt = pd.read_csv('movies.csv')
ratings_dt = pd.read_csv('ratings.csv')

x = ratings_dt.merge(movies_dt, how='inner')

x = x[x['rating'] == 5.0]

x['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

## Задание 2

In [41]:
data_power = pd.read_csv('power.csv')
data_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [53]:
data = pd.read_csv('power.csv')

filtered_countries = data[((data['country'] == 'Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')) & ((data['category'] == 4) | (data['category'] == 12)| (data['category'] == 21))]

filtered_countries = filtered_countries[(filtered_countries['year'] > 2004) & (filtered_countries['year'] < 2011) & filtered_countries['quantity'] > 0]

filtered_countries.groupby('country')['quantity'].sum()[1]

54844.0

## Задание 3

In [46]:
sizes = pd.read_html('https://ru.redfoxoutdoor.com/catalog/table_razmery/')[0]

sizes

  MEN'S                 Европейский размер     S     M    L    XL   XXL
  MEN'S                             Размер 44-46 48-50   52 54-56 58-60
0     1                               Рост   170   176  182   188   188
1     2                       Обхват груди    94   100  106   112   120
2     3                       Обхват талии    84    90   96   102   108
3     4                       Обхват бедер    96   102  108   114   120
4     5                         Длина руки    59    61   63    65    65
5     6  Длина внутренней поверхности ноги    79    81   83    85    85